<div class="acerca">
    <app-header></app-header>
    <div class="fondo-group">
        <img class="fondo" src="assets/img/fondo2.png" alt="50" width="1400">
        <div class="texto-sobre-imagen">
            <h1>Misión</h1>
            <h1>Visión</h1>
            <h1>Valores</h1>
        </div>
    </div>

    <div class="espacio"></div>

    <div class="Misión">
        <h1 class="titulo-seccion">Misión</h1>
        <h3 class="mision1">
            <span class="linea"> Nuestra misión es innovar y desarrollar soluciones de </span><br>
            <span class="linea">software inteligentes que impulsen a la sostenibilidad </span><br>
            <span class="linea">ambiental, facilitando el reciclaje eficiente y mejorando la </span><br>
            <span class="linea">calidad del aire para comunidades y empresas. </span>
        </h3>
        <h3 class="mision1">
            <span class="linea">Nos dedicamos a transformar el cuidado del planeta en una </span><br>
            <span class="linea">acción accesible y efectiva a través de la tecnología.</span>
        </h3>
    </div>

    <div class="espacio1"></div>

    <div class="Visión">
        <h1 class="titulo-seccion">Visión</h1>
        <h3 class="vision1">
            <span class="linea"> Ser la plataforma tecnológica líder a nivel global en la </span><br>
            <span class="linea">gestión ambiental, reconocida por nuestra capacidad para </span><br>
            <span class="linea">crear ecosistemas digitales que empoderan a individuos u </span><br>
            <span class="linea">organizaciones para contribuir activamente para un </span><br>
            <span class="linea">planeta más limpio y saludable, con un aire puro y un </span><br>
            <span class="linea">futuro sin residuos </span>
        </h3>
    </div>

    <div class="espacio1"></div>
    <div class="Valores">
        <h1 class="titulo-seccion1">Valores</h1>
        <h3 class="valores1">
            <span class="linea1"> Innovación Sostenible </span><br>
            <span class="linea"> Buscamos constantemente nuevas y mejores formas de </span><br>
            <span class="linea">aplicar la tecnología para resolver desafíos ambientales</span>
        </h3>
        <h3 class="valores1">
            <span class="linea1">Impacto Positivo</span><br>
            <span class="linea"> Nos comprometemos a generar un cambio medible y </span><br>
            <span class="linea"> beneficioso en el medio ambiente, priorizando proyectos </span><br>
            <span class="linea"> que tengan un efecto directo en la reducción de la </span><br>
            <span class="linea">contaminación y el fomento del reciclaje.</span>
        </h3>
        <h3 class="valores1">
            <span class="linea1"> Colaboración Activa</span><br>
            <span class="linea"> Fomentamos alianzas con comunidades, gobiernos, </span><br>
            <span class="linea"> empresas y usuarios para maximizar nuestro alcance y  </span><br>
            <span class="linea"> efectividad en la protección ambiental.</span>
        </h3>
        <h3 class="valores1">
            <span class="linea1"> Integridad y Transparencia</span><br>
            <span class="linea">  Operamos con la máxima honestidad y apertura en todos </span><br>
            <span class="linea"> nuestros procesos, desde el desarrollo de software hasta </span><br>
            <span class="linea"> la gestión de datos, construyendo confianza con nuestros </span><br>
            <span class="linea"> usuarios y colaboradores.</span>
        </h3>
        <h3 class="valores1">
            <span class="linea1">  Excelencia Técnica</span><br>
            <span class="linea">  Nos esforzamos por la calidad superior de cada linea de </span><br>
            <span class="linea">  código y cada funcionalidad que creamos, garantizando </span><br>
            <span class="linea">  que nuestras herramientas sean robustas, eficientes y  </span><br>
            <span class="linea"> confiables para lograr sus objetivos ambientales.</span>
        </h3>
    </div>
</div>
<app-footer></app-footer>