<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>EcoTrack - Bienvenida</title>
</head>
<body>
  <header class="barra-superior">
    <div class="logo-usuario">
      <img src="assets/img/logo_eco_track_cf.png" alt="Logo" class="logo">
    </div>
    <div class="usuario">
      
    </div>
  </header>

  <aside class="menu-lateral">
    <div class="hamburguesa">☰</div>
  </aside>

  <main class="contenido-principal">
    <div class="bienvenida-box">
      <div class="texto-bienvenida">
        <h2>Bienvenido al <br>sistema de EcoTrack</h2>
        <p>Te damos la bienvenida a nuestra plataforma. Descubre todos nuestros servicios.</p>
      </div>
      <div class="imagen-bienvenida">
        <img src="assets/img/logo_eco_track_cf.png" alt="Icono Eco" width="100">
      </div>
    </div>
  </main>
</body>
</html>
