<div class="home1">
    <app-header></app-header>
    <div class="fondo-group">
        <img class="fondo" src="assets/img/fondo.png" alt="50" width="1400">
        <div class="texto-sobre-imagen">
            <h1>Calidad del Aire</h1>
            <h1>Reciclaje</h1>
            <h1>Automatizado</h1>
        </div>
    </div>

    <div class="espacio"></div>

    <div class="parte2">
        <h3 class="ofrece1">
            <span class="linea">EcoDev ofrece conocimientos sobre la calidad del</span><br>
            <span class="linea">aire, la recolección de basura dentro de una plataforma</span><br>
            <span class="linea">que ayuda al usuario a demostrar cómo es vivir o trabajar</span><br>
            <span class="linea">en un espacio limpio automatizado y sin aire contaminado.</span>
        </h3>
        <h3 class="ayudar">
            <span class="linea">Estamos aquí para ayudar a optimizar su hogar o lugar de</span><br>
            <span class="linea">trabajo para que pueda tener una mejor calidad de vida y</span><br>
            <span class="linea">buena experiencia al momento de utilizar nuestro sistema.</span>
        </h3>
        <h1 class="titulo-seccion">¿Qué ofrecemos?</h1>
        <h2 class="subtitulo">Haz que el abastecimiento sostenible se cumpla</h2>
        <ul class="lista">
            <li>Detectar mediante IA qué tipo de basura es</li>
            <li>Recolectar la basura por clasificación</li>
            <li>Medir la calidad del aire mediante sensores</li>
            <li>Mejorar la calidad del aire al momento de que esta haya empeorado</li>
        </ul>
    </div>

    <div class="espacio1"></div>

    <div class="seccion-tecnologia">
        <h2 class="titulo-tecnologia">Tecnología utilizada</h2>
        <h3 class="subtitulo-tecnologia">Sensores</h3>
        <div class="contenedor-sensores">
            <div class="sensor-item">
                <div class="circulo-sensor">
                    <img src="assets/img/icon_app.png" alt="Sensor calidad aire" class="sensor-icon">
                </div>
                <div class="descripcion-sensor">
                    <h4>Sensor de Calidad</h4>
                    <p>Mide partículas PM2.5 y CO2 en tiempo real</p>
                </div>
            </div>

            <div class="sensor-item">
                <div class="circulo-sensor">
                    <img src="assets/img/logo_eco_track_sf.png" alt="Sensor clasificación" class="sensor-icon">
                </div>
                <div class="descripcion-sensor">
                    <h4>Sensor de Clasificación</h4>
                    <p>Identifica materiales reciclables mediante IA</p>
                </div>
            </div>
        </div>

        <div class="espacio"></div>

        <div class="InformaciónyTecnología">
            <h1 class="InformaciónyTecnología-titulo"> Información y Tecnología</h1>
            <h2 class="subtitulo">Funciones que tendra el sistema</h2>
            <ul class="lista">
                <li>Monitoreo en Tiempo Real</li>
                <li>Clasificación Automatizada de Residuos</li>
            </ul>
        </div>
        
    </div>
    <app-footer></app-footer>